<footer class="container">
    <nav>
        <ul class="footer-list">
            <li class="footer-item main-title">© <%= new Date().getFullYear() %></li>
            <li><a class="footer-item footer-link main-title" href="/">Twitter</a></li>
            <li><a class="footer-item footer-link main-title" href="/">LinkedIn</a></li>
            <li><a class="footer-item footer-link main-title" href="/">Email</a></li>
            <li><a class="footer-item footer-link main-title" href="/">RSS feed</a></li>
            <li><a class="footer-item footer-link main-title" href="/">Add to Feedly</a></li>
        </ul>
    </nav>
</footer>