<header class="container">
    <div class="username">
        <a class="name-wrapper" href="/profile">
            <% if(profilePicture) {%>
                <img class="header-pic" src="<%= profilePicture %>" alt="">
            <% } %>
            <p class="nav-username main-title">
                <%= name %>
            </p>
        </a>
    </div>
    <div class="nav-wrapper">
        <nav class="main-nav">
            <ul class="nav-list-wrapper">
                <li><a class="nav-link main-title" href="/">Blog</a></li>
                <li><a class="nav-link main-title" href="/about">About</a></li>
                <li><a class="nav-link main-title" href="/newsletter">Newsletter</a></li>
                <% if (name) { %>
                    <li><a class="nav-link main-title" href="/blogs/new">Create New</a></li>
                <% } %>
                <li class="mode-wrapper">
                    <input type="checkbox" id="themeToggle" class="theme-checkbox" onchange="toggleTheme()">
                </li>
            </ul>
        </nav>

        <div class="burger" id="burger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div class="mobile-menu" id="mobileMenu">
        <a class="nav-link" href="/">Blog</a>
        <a class="nav-link" href="/about">About</a>
        <a class="nav-link" href="/newsletter">Newsletter</a>
        <figure class="close-btn-wrapper" id="close-btn-wrapper">
            <img src="/images/close-icon.svg" alt="">
        </figure>
        <input type="checkbox" id="mobileThemeToggle" class="theme-checkbox" onchange="toggleTheme()">
    </div>

</header>

<script src="/javascripts/dark-mode.js"></script>

<script>
    const burger = document.getElementById('burger');
    const closeBtn = document.getElementById('close-btn-wrapper');
    const mobileMenu = document.getElementById('mobileMenu');

    burger.addEventListener('click', () => {
        mobileMenu.classList.toggle('show');
    });

    closeBtn.addEventListener('click', () => {
        mobileMenu.classList.toggle('show');
    });
</script>
